@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
*{
    font-family: 'Roboto', sans-serif;
}
:root{
    --beige: #f9f6d8;
    --complementario1: #668a4c;
    --dark: #464646;
    --complementario2:#accc7b;
    --complementario3:#30391f;
}
p{
    margin: 0;
}
.header{
    background-color: red;
}
.logo{
    height: 150px;
}
.navbar{
    background-color: var(--complementario1);
}
.navbar1{
    background-color: var(--dark);
}
.nav-link{
    background-color: var(--complementario1);
}
.nav-link1{
    background-color: var(--dark);
}
.card-tittle{
    font-weight: bold;
}
.cantidad-prod{
    color: var(--complementario2);
}

.card:hover{
    background-color: red;
    border: 20px dotted var(--complementario1) !important;
}

.añadiralcarrito{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 7px;
}

.btn-carro{
    background-color: var(--complementario1);
}

.pie{
    border-top: 3px solid var(--dark);
    height: 7rem;
    width: 100%;
    background-color: var(--beige);
    padding-top: 10px;
    position: relative;
    bottom: 0;
    text-align: center;
}

.foot{
    display: inline-block;
    width: 30%;
    margin: 0;
    height: 100%;
    vertical-align: top;
}

.logofoot{
    width: auto;
    height: 100%;
    position: relative;
}
.redes{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.paginacion{
    display: flex;
    justify-content: center;
}
.paginacion>nav>ul>.page-link{
    color: var(--complementario1);
    font-weight: bolder;
    font-size: large;
}

.promocion-tittle{
    color: var(--dark);
    font-weight: bold;
}